@model IEnumerable<MVCCityEF.tbl_cities>

@{
//ViewBag.Title = "Index";
}

<h2>Cities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tbl" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th  class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>
    </table>

@section Scripts
{
<script>
    $(document).ready(function () {
        $("#tbl").DataTable({
            "iDisplayLength": 5,
            "lengthChange": false,
            "ordering": true,
            columnDefs: [{
                orderable: false,
                targets: "no-sort"
            }]
        });
    });
 </script>    
}